.footercontainer {
    background-color: #524f4f;
    justify-content: center;
    display: flex;
    gap: 100px;
    padding: 35px;
}

.footercontainer a {
    color: aliceblue;
}

.footercontainer p {
    color: aliceblue;
}

.footercontainer h3 {
    color: aliceblue;
}

.footerinhoud {
    padding: 10px;
    gap: 10px;
}

.footerinhoud li {
    padding: 10px;
}

.footerinhoud p {
    padding: 10px;
}

ul {
    list-style-type: none;
}

.socialemedia li {
    display: flex;
    font-size: 30px;
}

.copyright {
    background-color: #2D2D2D;
    color: aliceblue;
    display: flex;
    text-align: center;
    padding: 20px;
}