* {
    margin: 0px;
    padding: 0px;
}

.productsectie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 40px;

}

.product {
    width: 50%;
    padding: 20px;
    width: 200px;
    border-radius: 7px;
    box-shadow: 4px 3px 7px;
    text-align: center;
}


.product img {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 8px;
}

.product h3 {
    color: black;
}

.prijs {
    margin: 20px;
    color: chartreuse;
}

.product p {
    margin: 20px;
    color: black;
}

.submit {
    border: none;
    background-color: black;
    color: aliceblue;
    width: 70px;
    height: 30px;
}

.submit:hover {
    transition: 1s ease;
    color: aliceblue;
    cursor: pointer;
}