* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titelregistreer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.inputgroep {
    margin-bottom: 20px;
    position: relative;
}

.inputgroep input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.submit {
    width: 100%;
    padding: 12px;
    background-color: #7101cd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    background-color: #370361;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.loginknop a {
    color: #7101cd;
    text-decoration: none;
}

.loginknop a:hover {
    text-decoration: underline;
}