* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../foto/Background-registreer.png);
}

.form-container {
    background: #007BFF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    animation: 0.5s ease-in-out;
}

.titelregistreer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.inputgroep {
    margin-bottom: 20px;
    position: relative;
}

.inputgroep i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.inputgroep input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.inputgroep input:focus {
    border-color: #007BFF;
    outline: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.submit {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.loginknop a {
    color: #007BFF;
    text-decoration: none;
}

.loginknop a:hover {
    text-decoration: underline;
}